@font-face {
  font-family: AvrileSerifRegular;
  src: url(./linguistics-pro/LinguisticsPro-Regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: AvrileSerifRegular;
  src: url(./linguistics-pro/LinguisticsPro-Bold.otf);
  font-weight: bold;
}

html {
  margin: 0;
}

body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

span.sup {
  font-size: 0.7em;
  color: #777;
  padding-left: 3px;
  position: relative;
  top: -5px;
}

.curtain {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.curtain .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.curtain .center > div {
  text-align: center;
}

.curtain .logo {
  opacity: 0.3;
  width: 200px;
}

.curtain .spinner {
  opacity: 0.3;
}

.curtain .spinner img {
  height: 100px;
  width: 100px;
}

.header .button {
  border: 2px solid #000;
  border-radius: 4px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  position: absolute;
  top: 20px;
  text-align: center;
  width: 34px;  
}

.button-new {
  right: 20px;
}

.button-edit {
  right: 80px;
}

.header .button:hover {
  background: #000;
  color: #fff;
}

.editor {
  background: #fff;
  bottom: 0;
  height: 0;
  left: 0;
  padding: 10px 30px;
  position: fixed;
  right: 0; 
  transition: height 0.3s ease-out;
}

body.editing .editor {
  box-shadow: 0 0 15px 0px #888;
  height: 250px;
}

.editor textarea {
  background: #ffeeff;
  border: none;
  font-family: monospace;
  font-size: 20px;
  height: 100%;
  outline: none;
  transition: background-color 0.2s linear;
  width: calc(100% - 200px);
}

.editor textarea.saved {
  background: #eeffee;
}

.editor .options {
  padding: 10px 30px 10px 0;
  position: absolute;
  right: 0px;
  top: 0;
  height: 100%;
  width: 200px;
}

.editor .options a {
  text-decoration: none;
}

.editor .options .button:first-child {
  margin: 0px 0 10px 0;
}

.editor .options .button {
  border: 2px solid #000;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 30px;
  margin: 10px 0;
  pointer-events: none;
  opacity: 0.4;
  text-align: center;
  width: 100%;
}

.editor .options .hr {
  border-top: 1px solid #003;
  height: 1px;
  margin: 10px -15px;
}

.editor .options .button.enabled {
  pointer-events: auto;
  opacity: 1;
}

.editor .options .button.enabled:hover {
  background: #000;
  color: #fff;
}

.editor .options .text {
  line-height: 30px;
  margin: 10px 0;
  opacity: 0.4;
  pointer-events: none;
  text-align: center;
  width: 100%;
}

.editor .options .text.enabled {
  pointer-events: auto;
  opacity: 1;
}

.page {
  transition: margin-bottom 0.3s ease-out;
}

body.editing .page {
  margin-bottom: 300px;
}

.page .header {
  height: 100px;
}

.page .header .logo {
  opacity: 0.8;
  padding: 20px 40px;
  transition: opacity 0.5s linear;
  width: 200px;
}

/*
.page .header .logo:hover {
  opacity: 1;
}
*/
.page .footer {
}

.title {
  font-size: 40px;
}

.social {
  padding: 30px 0 20px;
  position: relative;
}

.social .avatar {
  border-radius: 35px;
  box-sizing: border-box;
  float: left;
  height: 70px;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
  width: 70px;
}

.social .avatar .border {
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 35px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.social .avatar img {
  height: 100%;
  width: 100%;
}

.social .info {
  display: inline-block;
  float: left;
  padding: 3px 0 3px 0;
  line-height: 32px;
  top: 0;
  height: 70px;
  overflow: hidden;
}

.social .info .name {
  color: #666;
  font-family: sans-serif;
  font-weight: bold;
}

.social .info .date {
  color: #999;
  font-size: 20px;
  font-style: italic;
}

.image {
  margin: 1.5em 0 1.5em 0;
  width: 690px;
}

.image img {
  width: 100%;
}

.image.caption {
  color: #999;
  font-size: 18px;
  font-style: italic;
  padding: 5px 0 5px;
  margin-top: -1.7em;
  margin-bottom: 1.5em;
  text-align: center;
}

.article {
  dddborder: 1px solid black;
  box-sizing: border-box;
  color: #444;
  font-size: 22px;
  transform: translateX(-50%);
  line-height: 33px;
  margin-left: 50%;
  width: 690px;

  font-family: 'AvrileSerifRegular'; 
  font-weight: normal; 
  font-style: normal; 
}

.article a {
  background-image: url("data:image/svg+xml;utf8,<svg preserveAspectRatio=\"none\" viewBox=\"0 0 1 20\" xmlns=\"http://www.w3.org/2000/svg\"><line x1=\"0\" y1=\"19\" x2=\"1\" y2=\"19\" stroke-width=\"1\" stroke=\"rgba(0, 0, 0, 0.5)\" /></svg>");
  dddbackground-position: 0px calc(1em + 1px);
  dddbackground-size: 1px 1px;
  color: #444;
  text-decoration: none;

}

.article a:hover {
  background-image: url("data:image/svg+xml;utf8,<svg preserveAspectRatio=\"none\" viewBox=\"0 0 1 20\" xmlns=\"http://www.w3.org/2000/svg\"><line x1=\"0\" y1=\"19\" x2=\"1\" y2=\"19\" stroke-width=\"2\" stroke=\"rgba(0, 0, 0, 0.6)\" /></svg>");
  color: #000;
}

.article b {
  color: #444;
}

.article .code-block {
  background: #f8f8ff;
  border: 2px solid #aaa;    
  border-radius: 2px;
  overflow: auto;
  padding: 10px 20px;
  white-space: pre;
}

.article p {
  margin: 1.5em 0 1.5em 0;
}

.article h3 {
  color: #333;
  font-family: sans-serif;
  font-size: 26px;
  margin: 1.5em 0 -0.5em 0;
}
